<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}Título do template{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="{% url 'index' %}">Home</a> |
        <a href="{% url 'sobre' %}">Sobre</a> |
        <a href="{% url 'contato' %}">Contato</a> |
        <a href="{% url 'ajuda' %}">Ajuda</a> |
        <a href="{% url 'exibir_item' id=1 %}">Item</a>
    </nav>
    <hr>
    {% block conteudo %}
    Conteúdo padrão do template
    {% endblock %}
</body>
</html>
