{% extends "base.html" %}

{% block titulo %}Lista de Produtos{% endblock %}

{% block conteudo %} 

<div class="row mb-3">
    <div class="col-12">
        <a href="{% url 'form_produto' %}" class="btn btn-primary">Novo Produto</a> 
    </div>
</div>

<table class="table table-bordered table-hover mx-auto">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Descrição</th>
                <th scope="col">Estoque</th> <th scope="col">Valor (R$)</th>
                <th scope="col">Ações</th> </tr>
        </thead>
        <tbody>

            {% for item in lista %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.nome }}</td>
                <td>{{ item.estoque }}</td> <td>{{ item.preco }}</td>
                
                <td>
                    <button onclick="location.href='{% url 'detalhes_produto' item.id %}'" class="btn btn-info btn-sm">Detalhes</button>
                    
                    <button onclick="location.href='{% url 'editar_produto' item.id %}'" class="btn btn-warning btn-sm">Alterar</button>
                    
                    <button onclick="location.href='{% url 'excluir_produto' item.id %}'" class="btn btn-danger btn-sm">Excluir</button>
                </td>
            </tr>
            {% endfor %}
            
            
        </tbody>
    </table>


{% endblock %}